# Test Platform: mobile | web | cross-platform
TEST_PLATFORM=cross-platform

# Environment: dev | staging | prod
ENV=staging

# Browser for Web Tests: chrome | firefox | edge
BROWSER=chrome

#For Retry Mechanism
RETRY_COUNT=1

# Mobile Credentials
MOBILE_PHONE_NUMBER=5XXXXXXXX
# Mobile Application Credentials
MOBILE_PASSWORD=XXXXXXXX

# Payment & Checkout Test Details
TEST_CARD_NAME=John Doe
TEST_CARD_NUMBER=0000 0000 0000 0000
TEST_CARD_EXPIRY=1234

# Android SDK
ANDROID_HOME=/Users/user/Library/Android/sdk

DEVICE_NAME=emulator-5554
PLATFORM_VERSION=14
UDID=emulator-5554
# AVD_NAME=Pixel_7
DRIVER_APP_PACKAGE=com.albaikdriver.staging
DRIVER_APP_ACTIVITY=com.albaikdriver.staging.MainActivity

APP_PATH=
APP_PACKAGE=com.albaik.customer.staging
APP_ACTIVITY=com.albaikapp.MainActivity

# Web Admin Credentials
WEB_BASE_URL=https://staging.ordering.albaikcloud.com/sign_in
WEB_EMAIL=admin@example.com
WEB_PASSWORD=XXXXXXXX

# Curbside Web
CURBSIDE_BASE_URL=https://staging.ordering.albaikcloud.com/curbside_user/branches/539/orders

# QR Codes
QR_KTM_BRANCH=albaik://store/539

# Test Execution Settings
WEB_HEADLESS=false
MOBILE_HEADLESS=false
